body {
   margin:0;
   padding:0;
}

#content-wrap {
  margin: 0 auto;
  width: 600px;
}
#the-galery {
  margin: 0 auto;
}

.galery {
    margin:0 auto;
    width: 80%;
}

.galery li, .btns-galery li {
    list-style: none;
}

.btns-galery li {
   cursor:pointer;
}

.c-visible {
    display:visible;
}

.c-hidden {
    display:none;
}

.btns-galery {
  margin-left: 150px;∫
  height: 50px;
  width: 80%;
}

ul {
   width: 80%;
   display: inline-block;
}

.btns-galery li {
  display: inline;
  margin-left: 1em;
}

h2.h-galery {
   text-align: center;
}

.b-c-visible {
    color:blue;
}
.b-c-hidden {
    color:grey;
}
